﻿@inject IOptions<Models.Configurations.WebsiteConfiguration> WebsiteConfiguration
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet AppInsightsSnippet
@inject NodaTime.IClock Clock
@{
    const string SourceCodeUrl = "https://gitlab.com/pommalabs/thumbnailer/";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Thumbnailer</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/lib/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    @Html.Raw(AppInsightsSnippet.FullScript)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Thumbnailer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-page="/Thumbnail">
                                Thumbnail
                                generation
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active-route class="nav-link" asp-area="" asp-page="/Optimize">Media optimization</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/swagger" target="_blank" rel="noopener">
                                REST APIs <span class="slim-material-icon">open_in_new</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@SourceCodeUrl" target="_blank" rel="noopener">
                                Source code <span class="slim-material-icon">open_in_new</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="app" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019-@Clock.GetCurrentInstant().InUtc().Year ·
            <a href="@SourceCodeUrl" target="_blank" rel="noopener">
                Thumbnailer <span class="slim-material-icon">open_in_new</span>
            </a>
            by <a href="https://pommalabs.xyz" target="_blank" rel="noopener">
                PommaLabs <span class="slim-material-icon">open_in_new</span>
            </a>
        </div>
    </footer>

    <script src="~/lib/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script src="https://www.recaptcha.net/recaptcha/api.js?onload=onRecaptchaLoaded" async defer></script>
</body>
</html>